<app-header
  [categorias]="categorias"
  [cartCount]="cartCount"
  [searchTerm]="searchTerm"
  (categoriaSelecionada)="filtrarPorCategoria($event)"
  (limparFiltro)="limparFiltro()"
  (irParaLogin)="irParaLogin()"
  (searchChange)="onSearchChange($event)"
  (clearSearchEvent)="clearSearch()"
  (logout)="voltarParaHome()"
></app-header>

<!-- Conteúdo principal -->
<main class="main-container">
    <section *ngIf="produtos.length > 0; else carrinhoVazio">
        <h2 class="title-main carrinho-titulo">Produtos no seu carrinho</h2>

        <div class="produtos-list">
            <ng-container *ngFor="let produto of produtos; let i = index">
                <mat-card class="produto-card-list">
                    <div class="item-wrapper">
                        <div class="imagem-wrapper">
                            <img *ngIf="produto.imagemUrl" [src]="produto.imagemUrl" alt="{{ produto.nome }}"
                                class="imagem-produto-pequena" />
                        </div>

                        <div class="info-produto">
                            <h3 class="produto-nome-pequeno">{{ produto.nome }}</h3>

                            <div class="produto-estrelas-pequeno">
                                <mat-icon *ngFor="let star of [1,2,3,4,5]">star</mat-icon>
                            </div>

                            <p class="produto-preco-pequeno">{{ produto.preco | currency:'BRL':'symbol':'1.2-2': 'pt-BR'
                                }}</p>

                            <div class="quantidade-wrapper">
                                <button mat-icon-button class="quantidade-btn" (click)="diminuirQuantidade(produto)">
                                    <mat-icon>remove</mat-icon>
                                </button>

                                <span class="quantidade">{{ produto.quantidade }}</span>

                                <button mat-icon-button class="quantidade-btn" (click)="aumentarQuantidade(produto)">
                                    <mat-icon>add</mat-icon>
                                </button>
                            </div>
                        </div>

                        <div class="acoes-produto">
                            <button mat-icon-button color="warn" (click)="removerDoCarrinho(produto)"
                                aria-label="Remover produto">
                                <mat-icon>delete</mat-icon>
                            </button>
                        </div>
                    </div>
                </mat-card>

                <!-- Divisória -->
                <mat-divider *ngIf="i < produtos.length - 1"></mat-divider>
            </ng-container>
        </div>
    </section>

    <ng-template #carrinhoVazio>
        <div class="carrinho-vazio">
            <h2>Seu carrinho está vazio 😢</h2>
            <button mat-raised-button color="primary" routerLink="/">
                Voltar para loja
            </button>
        </div>
    </ng-template>

    <div class="total-container" *ngIf="produtos.length > 0">

        <div class="total-valor">
            Total: {{ calcularTotal() | currency:'BRL':'symbol':'1.2-2': 'pt-BR' }}
        </div>

        <button mat-raised-button color="primary" (click)="fecharPedido()">
            Fechar pedido
        </button>
    </div>
</main>